
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body,html{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.sidebar{
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
}
li{
  list-style-type: none;
}
.action-list li,
.nav-list li{
  margin-bottom: 1.5rem;
}
.side-btn{
  background: transparent;
  border: none;
  display: flex;
  justify-content: start;
  width: 70%;
}
.side-btn:hover,
.side-btn:active{
  color: black;
}

p,.side-btn{
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 101.1%;
letter-spacing: 0.05em;
color: #9A9A9A;
}
.nav-icon{
  margin-right: 15px;
}
.action-list{
  margin-top: 10rem;
}
.p-btn{
  color:black;
}
.brand{
  margin-left: 40px;
  color: black;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-weight: bold;
}

.home{
  display: flex;
}
.mainpage{
  padding: 10px 45px;
  width: 80%;
  background: #FEFEFE;
border: 1.5px solid #F0F0F0;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search{
  display: flex;
  align-items: center;
}
.search input{
  outline: none;
  padding: 6px;
  color: #9A9A9A;
  font-size: 1.2rem;
  border: none;
}
.search-icon{
  color: #757373;
  font-size: 1.5rem;
}
.profile{
  display: flex;
  align-items: center;
}
.profile img{
  width: 40px;
  margin-left: 10px;
height: 40px;
border: 1px solid #E3E3E3;
}
.content{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.content-header{
  display: flex;
  justify-content: space-between;
}
.content-header p{
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
}
.filter_btn{
  background-color: transparent;
  height: 40px;
  border: none;
}
.todo_container{
  width: 318px;
  height: 100vh;
  background: #F5F9F9;
  border-radius: 15px;
  text-align: center;
}
.container_header{
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  padding-top: 10px;
  padding-right: 30px;
}
.container_title{
  color: black;
}
.count{
background-color: #ECF3F3;
border-radius: 7px;
width: 23px;
height: 25px;
text-align: center;
padding-top: 5px;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 101.1%;
color: #329C89;
}
.add_btn{
  width: 282px;
height: 38px;
background: #ECF3F3;
border-radius: 7px;
border: none;
}
.card{
display: flex;
flex-direction: column;
width: 282px;
min-height: 139px;
margin:20px auto;
background: #FFFFFF;
border: 1px solid #DBDBDB;
box-shadow: 0px 0px 28px rgba(72, 174, 174, 0.07);
border-radius: 7px;
font-family: 'Poppins';
}
.input_form{
  text-align: left;
}
.input_title{
  font-weight: 500;
  padding: 4px;
  margin: 1rem 0;
  width: 165px;
height: 18px;
font-size: 16px;
line-height: 137.1%;
color: #A4ABB3;
margin-left: 10px;
border: none;
outline: none;
}
.input_desc{
  font-family: 'Poppins';
color: #A4ABB3;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 137.1%;
width: 240px;
border: none;
margin-left: 10px;
outline: none;
height: 46.64px;
}
ul{
  
  list-style-type:none;
}
.item{
  text-align: start;
  padding-top: 5px;
  padding-left: 20px;
}

.item-title{
  font-size: 14px;
line-height: 137.1%;
font-weight: 600;
color: #212121;
  text-align: start;
}
.item-decs{
  font-weight: 400;
  font-size: 12px;
  line-height: 137.1%;
} 
.item div{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}
.item div img{
  width: 25.26px;
  height: 25.26px;
}
.item-action img{
   width: 1px;
   height: 1px;
}
.Modal{
  position: absolute;
width: 524px;
height: 433px;
left: 400px;
top: 100px;
background-color: burlywood;
box-shadow: 0px 0px 28px rgba(72, 174, 174, 0.07);
border-radius: 22px;

}

.Overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.13);
}